{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'core/css/Inventario.css' %}">

<div class="inventario-card">
  <h1>Inventario</h1>
    <form class="inventario-form">
      <input type="text" placeholder="Nombre producto" class="small-input" />

      <input type="text" placeholder="Código" class="small-input" />
      <input type="number" placeholder="Cantidad" class="small-input" />
      <input type="number" placeholder="Margen ganancia" class="small-input" />
      <input type="number" placeholder="Precio" class="small-input" />
      <select className="small-input">
        <option value="">Seleccione categoría</option>
        <option value="categoria1">Categoría 1</option>
        <option value="categoria2">Categoría 2</option>
      </select>
      <input type="number" placeholder="Costo producto" className="small-input" />
      <button type="submit" className="submit-button small-button">Agregar producto</button>
    </form>

  <p className="inventario-lista">Aquí se mostrará la lista de inventario.</p>
</div>


{% endblock %}