

.inventario-card {
    
    float: right;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 1);
    padding-top: 2px;
    padding-bottom: 10px;
    position: fixed;
    top: 150px; /* mantiene la distancia desde arriba */
    left: 41%;
    
  
    

}

/* Mantener los estilos existentes si los hay */
.inventario-form {
    display: flex;
    flex-direction: co  lumn;
    gap: 5px;
    
}

.small-input {
margin-bottom: 5px;
padding: 8px;
}
